@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: #EEEEEE;
}

*{
    margin: 0;
    padding: 0;
}

.tileArea2 {
    padding: 30px;
    width: auto;
    height: auto;
}

.tileArea{
    padding: 60px;
    width: auto;
    height: auto;
    display: flex;
}

/* card start */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 150px;
    height: 200px;
    /* width: 120px; */
    margin: 10px;
    text-align: center;
    font-family: arial;
    font-size: 80%;
    padding: 7px;
    /* display: flexbox; */
  }
  
  /* .price {
    color: grey;
    font-size: 22px;
  } */
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  /* .card button:hover {
    opacity: 7;
  } */
/* card end */

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: #393E46;
    color: white;
}

nav ul li{
    align-items: center;
    
}
.brand img{
    width: 45px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
   min-height: 72vh;
   background-color: black;
   color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 0px auto;
   max-width: 200pc;
   width: auto;
   height:  auto;
   /* border-radius: 12px; */
   padding: 34px;
   background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    bottom: 0;
    height: 100px;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-top: 3vh;
}

.icons{
    margin-top: 14px; 
    margin-bottom: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 14px;
}

.songItem img{
    width: 40px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    padding: 0px ;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  a:link:active, a:visited:active {
    color: white;
  }
@media only screen and (max-width: 1100px) {
    body {
      background-color: #EEEEEE;
    }
  }